<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">

</head>
<body>
<header>
    {# recupere la variable message de la notif flash en gardant que le messsage #}
    {% for message in app.flashes('success') %}
        <p>
            {{ message }}
        </p>
    {% endfor %}
    <a href="{{ path('app_logout') }}" class="nav">Sortir de l'admin >>></a> <br>
    <a href="{{ path('admin_category_List') }}" class="nav">Aller vers category >>></a>

    <h1>Les articles actuellement disponible</h1>
</header>
<a href="{{ path('admin_page_insert') }}" class="gauche">Creation d'Article</a>
<div class="organisation">
    {% for article in articles %}
        <div  class="article">
            <h2 class="taille">
                {{ article.title }}
            </h2>
            {% if article.category is null %}
                <p> Ce document n'a pas encore de catégorie !</p>
            {% else %}
                <p>{{ article.category.title }}</p>
            {% endif %}

            <a  href="{{ path('admin_update_article', {'id' : article.id}) }}"  class="boutton">Update ça</a>
            <a  href="{{ path('admin_delete_article', {'id' : article.id}) }}" class="boutton">Supprime ça</a>

            {% if (article.imageFile) %}
                <img src="{{ asset('asset/uploads/images/' ~ article.imageFile) }}" alt="">
            {% endif %}


        </div>
    {% endfor %}
</div>
</body>
</html>