<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">

</head>
<header>
    {# recupere la variable message de la notif flash en gardant que le messsage #}
    {% for message in app.flashes('success') %}
        <p>
            {{ message }}
        </p>
    {% endfor %}
    <a href="{{ path('app_logout') }}" class="nav">Sortir de l'admin >>></a> <br>
    <a href="{{ path('admin_article_List') }}" class="nav">Aller vers articles >>></a>

    <h1>Les catégories actuellement disponible</h1>
</header>
<body>
<p><a href="{{ path('admin_category_insert') }}" class="gauche">Creation divine</a></p>
<div class="organisation">
    {% for category in categories %}
       <article class="article">
        <h1  style="color: {{ category.color }}">
                {{ category.title }}
        </h1>
        <a href="{{ path('admin_update_category', {'id' : category.id}) }}" class="boutton">Update ça</a>
        <a href="{{ path('admin_delete_category', {'id' : category.id}) }}" class="boutton">Supprime ça</a>
       </article>
    {% endfor %}
</div>
</body>
</html>