<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
</head>
<body>
<header class="tete">
    <a href="{{ path('admin_article_List') }}" class="nav">Rôle de l'admin >>></a> <br>
    <a href="{{ path('category_List') }}" class="nav">Aller vers categories >>></a>

<h1 class="centrer">Les articles disponibles</h1>
</header>
    <div class="organisation">
{% for article in articles %}
    <article class="article">
    <h2>
        <a href="{{ path('articleShow', {'id' : article.id}) }}" class="lien">{{ article.title }}</a>
    </h2>
        {% if article.category is null %}
        <p> Ce document n'a pas encore de catégorie !</p>
        {% else %}
            <p>{{ article.category.title }}</p>
        {% endif %}
    </article>
{% endfor %}
    </div>
</body>
</html>