<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
</head>
<header>
    {# recupere la variable message de la notif flash en gardant que le messsage #}
    {% for message in app.flashes('success') %}
        <p>
            {{ message }}
        </p>
    {% endfor %}
    <a href="{{ path('app_login') }}" class="nav">Rôle de l'admin >>></a> <br>
    <a href="{{ path('article_List') }}" class="nav">Aller vers articles >>></a>
    <h1 class="centrer">Les categories disponibles</h1>
</header>
<body>
    {% for category in categories %}
        <h1 >
            <a href="{{ path('categoryShow', {'id' : category.id}) }}" style="color: {{ category.color }}">
                {{ category.title }}
            </a>
        </h1>

    {% endfor %}

</body>
</html>