<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
</head>
<body>
<h1>{{ article.title }}</h1>

<div class="thearticle">
<p>{{ article.content }}</p>
<div class="image">
    <img src="{{ article.picture }}" class="resp">
</div>
{# filtre |date permet de mettre un format au typr date sinon ça s'affiche pas #}
    <div class="cote">
<p> Date de creation : {{ article.creationdate|date("m/d/Y h:m:s") }}</p>
<br>
<p> Date de publication : {{ article.publicationdate|date("m/d/Y h:m:s")}}</p></div>
</div>
</body>
</html>