<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <style>
       a{
       color:black;
       text-decoration: none;
       }
   </style>

</head>
<header>
    {# recupere la variable message de la notif flash en gardant que le messsage #}
    {% for message in app.flashes('success') %}
        <p>
            {{ message }}
        </p>
    {% endfor %}
</header>
<body>
<p><a href="{{ path('category_insert') }}">Creation divine</a></p>
    {% for category in categories %}
        <h1 >
            <a href="{{ path('categoryShow', {'id' : category.id}) }}" style="color: {{ category.color }}">
                {{ category.title }}
            </a>
        </h1>
        <p><a href="{{ path('update_category', {'id' : category.id}) }}">Update ça</a></p>
        <p><a href="{{ path('delete_category', {'id' : category.id}) }}">Supprime ça</a></p>
    {% endfor %}

</body>
</html>